<h1><%= @blogger.name %></h1>

<br> 

<ul>
<% @blogger.posts.each do |post| %>
<li><%= post.title %> | Likes: <%= post.likes %>
</li>
<% end %>
</ul>

<hr>

<% if @blogger.posts.count > 0  %>
<p>Most Liked Post</p>
<%= link_to @blogger.most_likes.title, post_path(@blogger.most_likes.id) %>
<% end %>
